{% extends "layout.njk" %}
{% block head %}
    <title>Portfolio - Douglas Soares</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

        <div id="wrapper">
            <h1>Videos</h1>
        </div>

        <section class="cards">
            
            {% for item in items %}
            <div class="card" id="{{item.id}}"> 
                <div class="card_image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="imagem de {{item.tittle}}">
                        {% if item.featured%}
                            <div class="featured">Favorito</div>
                        {% endif %}
                </div>
                <div class="card_content">
                    <p>{{item.tittle}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>
            {% endfor %}
        </section>
    
        <script src="/scripts.js"></script>
{% endblock %}
